* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgba(13, 240, 88, 0.5);
  padding: 1.2em;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.span1 {
  color: red;
}

.card {
  background-color: lightblue;
  max-width: 18rem;
  padding: 1em;
  margin: 1em;
}

.h3Tag,
.h4Tag,
.h4Tag2 {
  text-align: center;
}